<h1 class="glow">All user blogs</h1>
<ul>
<% blogs.forEach(blog => { %>
  <% if (blog.owner) { %>
    <li>
    <h3 class="grd-gold"><a class="grd-gold" href="blogs/<%= blog.id %>">
    <%= blog.owner.username %>
      </a></h3>
      </li>
  <% }%>
<% }) %>
</ul>
