<h1 class="glow">Users</h1>
<ul>
<% blogs.forEach(blog => { %>
  <li>
  <h3 class="grd-gold"><a class="grd-gold" href="blogs/<%= blog.id %>"><%= blog.owner.username %></a></h3>
  </li>
<% }) %>
</ul>
