<h1><%= blog.owner.username %>'s blog</h1>
<p><a href="/blogs/<%= blog.id %>/posts">View
  <% if (locals.user && blog.owner.id === locals.user.id) { %>
    my
  <% } %>
  posts</a></p>
<p><a href="/profiles/<%= blog.profile.id %>">View
  <% if (locals.user && blog.owner.id === locals.user.id) { %>
    my
  <% } %>
  profile</a></p>
<% if (locals.user && blog.owner.id === locals.user.id) { %>
  <a href="/blogs/<%= blog.id %>/posts/new">Make a new post</a>
<% } %>
