body {
  background: $bg-1;
  background: -webkit-linear-gradient($bg-2, $bg-1);
  background: -o-linear-gradient($bg-2, $bg-1);
  background: -moz-linear-gradient($bg-2, $bg-1);
  background: linear-gradient($bg-2, $bg-1);
  background-attachment: fixed;
}
