@import 'helpers/mixins';
@import 'helpers/variables';
$btn-padding: 10px;
.btn {
  width: 100px;
  text-align: center;
  padding: $btn-padding;
  @include border(6px);
  border: 1px solid #000000;
  @include transition(color, .2s ease);
}
.big {
  width: 200px;
}
.blue-btn {
  @include btn($blue-btn-color1, $blue-btn-color2, $blue-btn-color3)
}
.blue-btn:hover {
  @include btn($blue-btn-color1-light, $blue-btn-color2-light, $blue-btn-color3-light)
}
.red-btn {
  @include btn($red-btn-color1, $red-btn-color2, $red-btn-color3)
}
.red-btn:hover {
  @include btn($red-btn-color1-light, $red-btn-color2-light, $red-btn-color3-light)
}
.green-btn {
  @include btn($green-btn-color1, $green-btn-color2, $green-btn-color3)
}
.green-btn:hover {
  @include btn($green-btn-color1-light, $green-btn-color2-light, $green-btn-color3-light)
}
