@import 'helpers/variables';
// flashes
.msg {
  background-color: lighten($logo-color, 30);
  border-radius: 6px;
  border: 1px solid #000000;
}
.msg-img {
  vertical-align: top;
}
.info {
  color: $link-color;
  border-color: $link-color;
}
.danger {
  color: lighten($red-btn-color2, 10);
  border-color: lighten($red-btn-color2, 10);
}

$glow: #ffc107;
.glow {
  color: #fff;
  text-shadow: 0px 0px 20px $glow;
}
.grd-gold {
  @include grd($logo-color);
}
a.grd-gold:hover {
  @include grd(lighten($logo-color, 30));
}
a.glow:hover {
  color: $glow;
}
.grd-silver {
  @include grd($silver);
}
a.grd-silver:hover {
  @include grd(lighten($silver, 30));
}
