@import 'helpers/variables';
// flashes
.msg {
  background-color: lighten($logo-color, 30);
  border-radius: 6px;
  border: 1px solid #000000;
}
.msg-img {
  vertical-align: top;
}
.info {
  color: $link-color;
  border-color: $link-color;
}
.danger {
  color: lighten($red-btn-color2, 10);
  border-color: lighten($red-btn-color2, 10);
}

$glow: #ffc107;
.glow {
  color: #fff;
  text-shadow: 0px 0px 20px $glow;
}
.grd {
  background: -webkit-linear-gradient(lighten($logo-color, 30), darken($logo-color, 20));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.grd:hover {
  color: lighten($logo-color, 30);
  background: lighten($logo-color, 30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.glow:hover {
  color: $glow;
}
