footer {
  background-color: $footer-bg;
  color: $link-color;
  font-family: $emphasis-font;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  position: fixed;
  height: 2rem;
  bottom: 0;
}
