body, p {
  font-family: $body-font;
}
 h1, h2 {
  font-family: $title-font;
  font-weight: bold;
}
label, header, h3, h4 {
  font-family: $emphasis-font;
  font-weight: bold;
  text-transform: uppercase;
}
label, h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
.logo:hover {
  color: lighten($logo-color, 20);
  @include transition(color, .2s ease);
}
main {
  max-width: 960px;
  margin: 0 auto;
}
.blog-title {
  font-family: $emphasis-font;
  text-transform: uppercase;
}
