@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin btn($color1, $color2, $color3) {
  color: #fff;
  background: -moz-linear-gradient(top, $color1 0%, $color3 25%, $color2);
  background: -webkit-gradient(linear, left top, left bottom,
  from($color1),
  color-stop(0.25, $color3),
  to($color2));
}
@mixin grd($grd-color) {
  background: -webkit-linear-gradient(lighten($grd-color, 30), darken($grd-color, 20));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin shadow() {
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
}
@mixin border($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin inset($color) {
  border-top: 3px inset darken($color, 20);
  border-right: 3px inset lighten($color, 30);
  border-bottom: 3px inset lighten($color, 30);
  border-left: 3px inset darken($color, 20);
}
