$bg-2: #172951;
$bg-1: #081027;
$bg-main: #20212A;
$main-color: #ccc;
$link-color: #3f7aba;
$header-color: #E7F9FD;
$header-bg: #000;
$logo-color: #e6b856;
$footer-color: #E7F9FD;
$footer-bg: #000;
$title-font: 'Cinzel', serif;
$emphasis-font: 'Play', Impact, sans-serif;
$body-font: 'Helevetica Neue', Arial, sans-serif;
