<h1>Register</h1>
<form class="" action="/register" method="POST">
  <div class="pb2">
    <label for="username">Username: </label>
    <input  class="w-100 ba pa1 b--gray"type="text" name="username" placeholder="Pick a username">
  </div>
  <div class="pb2">
    <label for="email">Email: </label>
    <input  class="w-100 ba pa1 b--gray"type="text" name="email" placeholder="Enter your email">
  </div>
  <div class="pb2">
    <label for="password">Password: </label>
    <input  class="w-100 ba pa1 b--gray"type="password" name="password" placeholder="Choose a password">
  </div>
  <div class="pb2">
    <label for="passwordConfirmation">Password Confirmation: </label>
    <input class="w-100 ba pa1 b--gray" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm your password">
  </div>
  <button class="pa2 ba bw1 bg-white ba b--blue blue">Create Account</button>
</form>
