<h1 class="glow">Register</h1>
<form class="" action="/register" method="POST">
  <div class="pb2">
    <label class="grd" for="username">Username: </label>
    <input  class="w-100 ba pa1 b--gray"type="text" name="username" placeholder="Pick a username">
  </div>
  <div class="pb2">
    <label class="grd" for="email">Email: </label>
    <input  class="w-100 ba pa1 b--gray"type="text" name="email" placeholder="Enter your email">
  </div>
  <div class="pb2">
    <label class="grd" for="password">Password: </label>
    <input  class="w-100 ba pa1 b--gray"type="password" name="password" placeholder="Choose a password">
  </div>
  <div class="pb3">
    <label class="grd" for="passwordConfirmation">Password Confirmation: </label>
    <input class="w-100 ba pa1 b--gray" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm your password">
  </div>
  <button class="big btn green-btn">Create Account</button>
</form>
