<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>FFXIV Blogs</title>
  <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">%>
  <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>%>
  <script type="text/javascript" src=" https://cdn.rawgit.com/showdownjs/showdown/1.6.4/dist/showdown.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Play:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/js/client.js" charset="utf-8"></script>
</head>
<body class="vh-100">
  <header class="absolute w-100">
    <nav class="pa2">
      <a class="logo" href="/">XIVB</a>

      <ul class="menu clicked fr mv0">
        <li class="dib pl1"><a href="/blogs">All Users</a></li>
        <% if (locals.isLoggedIn) { %>
          <span class="dib pl1 mt0">Logged in as <%= locals.user.username %></span>
          <li class="dib pl1"><a href="/profiles/<%= locals.user.profile %>">My Profile</a></li>
          <li class="dib pl1"><a href="/blogs/<%= locals.user.blog %>">My Blog</a></li>
          <li class="dib pl1"><a href="/logout">Log Out</a></li>
          <% } else { %>
            <li class="dib pl1"><a href="/login">Log In</a></li>
            <li class="dib pl1"><a href="/register">Register</a></li>
            <% } %>
            <li><a href="#"></a></li>
          </ul>

        </nav>
      </header>
          <%- body %>
        <footer class="pa2 w-100">Made with &hearts; by Edie @ GA WDI 2017</footer>
      </body>
      </html>
