<h1 class="glow">Log In</h1>
<form class="" action="/login" method="POST">
  <div class="pb2">
    <label class="grd-silver" for="email">Email: </label>
    <input class="w-100 ba pa1 b--gray"type="text" name="email">
  </div>
  <div class="pb3">
    <label class="grd-silver" for="password">Password: </label>
    <input class="w-100 ba pa1 b--gray"type="password" name="password">
  </div>
  <button class="big btn green-btn">Log In</button>
</form>
