<h1>Log In</h1>
<form class="" action="/login" method="POST">
  <div class="pb2">
    <label for="email">Email: </label>
    <input  class="w-100 ba pa1 b--gray"type="text" name="email">
  </div>
  <div class="pb2">
    <label for="password">Password: </label>
    <input  class="w-100 ba pa1 b--gray"type="password" name="password">
  </div>
  <button class="pa2 ba bw1 bg-white ba">Log In</button>
</form>
