<h1>Hello <%= user.username %></h1>
<p><%= user %></p>

<form action="/account/<% user.profile.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">

  <input class="pa2 ba bw1 bg-white ba b--blue blue" type="submit" value="Update">
</form>
