@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/normalize';

@import 'partials/body';
@import 'partials/posts';
@import 'partials/header';
@import 'partials/main';
@import 'partials/profile';
@import 'partials/effects';
@import 'partials/footer';
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/homepage';

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}
.profile-title {
  height: 32px;
  img {
    vertical-align: middle;
    padding-right: 5px;
  }
}
.main-job img {
  vertical-align: middle;
  padding-right: 5px;
}
.main-jobs li {
  float: left;
  height: 28px;
  line-height: 28px;
  img {
    vertical-align: middle;
  }
}
li {
  list-style: none;
}
.red-cancel {
  margin-top: -40px;
}
ul {
  list-style: none;
}
ul {
  padding-left: 0;
}
.circle {
  border-radius: 50%;
  border: 3px solid $logo-color;
}
.circle:hover {
  border-radius: 50%;
  border: 3px solid lighten($logo-color, 30);
}
footer {
  color: $link-color;
  font-family: $emphasis-font;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  position: fixed;
  bottom: 0;
}
.charlist {
  // border: 1px solid red;
    p {
    padding-left: 5px;
    vertical-align: top;
  }
}
